---
title: "首页"
---


<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>

<body style="background: url({{ site.baseurl }}/assets/img/cover1.jpg) center center; background-size: cover; background-attachment: fixed;">

	<div class="cover-head">
		<div class="btn-group">
		<a href="{{ site.baseurl }}/pages/login.html" class="btn btn-sm btn-outline-light"><i data-feather="log-in"></i> 登录</a>

		<a href="{{ site.baseurl }}/pages/signup.html" class="btn btn-sm btn-outline-light"><i data-feather="user"></i> 注册</a>
	</div>
	</div>

	<center class="white">
		<h2 style="letter-spacing: 0.5em; text-shadow: 0 0 10px black; margin-top: 4em;">中国质量认证中心</h2>
		<h1 style="letter-spacing: 0.5em; text-shadow: 0 0 10px black; margin-top: 1em;">健康建筑运行认证管理平台</h1>
		<p style="letter-spacing: 0.5em; text-shadow: 0 0 10px black;"><strong>HEALTHY BUILDING CERTIFICATION AND MANAGEMENT</strong></p>


		<a href="{{ site.baseurl }}/pages/map.html" class="btn btn-sm btn-light" style="margin: 2em;"><i data-feather="map-pin"></i> 项 目 地 图</a>

		<a href="{{ site.baseurl }}/pages/list.html" class="btn btn-sm btn-light" style="margin: 2em;"><i data-feather="list"></i> 项 目 列 表</a>


		{% include footer.html %}
	</center>
</body>
</html>
