<h5><center>开发设计成本<span style="float: right">(0/30)</span></center></h5>
<div class="accordion" id="design">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#designOne" aria-expanded="false" aria-controls="collapseOne">
					全寿命期预算
				</button>
			</h2>
		</div>
		<div id="designOne" class="collapse" aria-labelledby="headingOne" data-parent="#design">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>全寿命期预算报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#designTwo" aria-expanded="false" aria-controls="collapseTwo">
					绿色金融：绿色保险机制
				</button>
			</h2>
		</div>
		<div id="designTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#design">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>绿色保险机制报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>建设成本<span style="float: right">(0/30)</span></center></h5>
<div class="accordion" id="construction">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#constructionOne" aria-expanded="false" aria-controls="collapseOne">
					单位建造成本
				</button>
			</h2>
		</div>
		<div id="constructionOne" class="collapse" aria-labelledby="headingOne" data-parent="#construction">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>单位建造成本报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#constructionTwo" aria-expanded="false" aria-controls="collapseTwo">
					单位增量成本
				</button>
			</h2>
		</div>
		<div id="constructionTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#construction">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>单位增量成本报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>运行成本<span style="float: right">(0/40)</span></center></h5>
<div class="accordion" id="operation">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#operationOne" aria-expanded="false" aria-controls="collapseOne">
					出租率
				</button>
			</h2>
		</div>
		<div id="operationOne" class="collapse" aria-labelledby="headingOne" data-parent="#operation">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>出租率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#operationTwo" aria-expanded="false" aria-controls="collapseTwo">
					入住率
				</button>
			</h2>
		</div>
		<div id="operationTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#operation">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>入住率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#operationThree" aria-expanded="false" aria-controls="collapseThree">
					单位运行成本
				</button>
			</h2>
		</div>
		<div id="operationThree" class="collapse" aria-labelledby="headingThree" data-parent="#operation">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>单位运行成本报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#operationFour" aria-expanded="false" aria-controls="collapseFour">
					单位面积租金
				</button>
			</h2>
		</div>
		<div id="operationFour" class="collapse" aria-labelledby="headingFour" data-parent="#operation">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>单位面积租金报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>