<h5><center>环境生态保护<span style="float: right">(0/100)</span></center></h5>
<div class="accordion" id="envir">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#envirOne" aria-expanded="false" aria-controls="collapseOne">
					碳排放
				</button>
			</h2>
		</div>
		<div id="envirOne" class="collapse" aria-labelledby="headingOne" data-parent="#envir">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>碳排放报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#envirTwo" aria-expanded="false" aria-controls="collapseTwo">
					热岛强度
				</button>
			</h2>
		</div>
		<div id="envirTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#envir">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>热岛强度报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#envirThree" aria-expanded="false" aria-controls="collapseThree">
					废水处理率
				</button>
			</h2>
		</div>
		<div id="envirThree" class="collapse" aria-labelledby="headingThree" data-parent="#envir">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>废水处理率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#envirFour" aria-expanded="false" aria-controls="collapseFour">
					生活垃圾分类回收率
				</button>
			</h2>
		</div>
		<div id="envirFour" class="collapse" aria-labelledby="headingFour" data-parent="#envir">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>生活垃圾分类回收率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFive">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#envirFive" aria-expanded="false" aria-controls="collapseFive">
					建筑垃圾产生量及处理情况
				</button>
			</h2>
		</div>
		<div id="envirFive" class="collapse" aria-labelledby="headingFive" data-parent="#envir">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>建筑垃圾产生量及处理报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingSix">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#envirSix" aria-expanded="false" aria-controls="collapseSix">
					与当地风貌结合程度
				</button>
			</h2>
		</div>
		<div id="envirSix" class="collapse" aria-labelledby="headingSix" data-parent="#envir">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>与当地风貌结合程度报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>