<h5><center>能源利用<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="energy">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#energyOne" aria-expanded="false" aria-controls="collapseOne">
					建筑单位能耗
				</button>
			</h2>
		</div>
		<div id="energyOne" class="collapse" aria-labelledby="headingOne" data-parent="#energy">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>建筑单位能耗报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#energyTwo" aria-expanded="false" aria-controls="collapseTwo">
					可再生能源利用率
				</button>
			</h2>
		</div>
		<div id="energyTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#energy">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>可再生能源利用率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>水资源利用<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="h2o">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#h2oOne" aria-expanded="false" aria-controls="collapseOne">
					建筑单位水耗
				</button>
			</h2>
		</div>
		<div id="h2oOne" class="collapse" aria-labelledby="headingOne" data-parent="#h2o">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>建筑单位水耗报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#h2oTwo" aria-expanded="false" aria-controls="collapseTwo">
					非传统水源利用率
				</button>
			</h2>
		</div>
		<div id="h2oTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#h2o">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>非传统水源利用率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>土地资源利用<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="land">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#landOne" aria-expanded="false" aria-controls="collapseOne">
					容积率
				</button>
			</h2>
		</div>
		<div id="landOne" class="collapse" aria-labelledby="headingOne" data-parent="#land">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>容积率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#landTwo" aria-expanded="false" aria-controls="collapseTwo">
					保护本地物种
				</button>
			</h2>
		</div>
		<div id="landTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#land">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>保护本地物种报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>



<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>材料资源利用<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="material">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#materialOne" aria-expanded="false" aria-controls="collapseOne">
					本地建材使用量
				</button>
			</h2>
		</div>
		<div id="materialOne" class="collapse" aria-labelledby="headingOne" data-parent="#material">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>本地建材使用量报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#materialTwo" aria-expanded="false" aria-controls="collapseTwo">
					绿色建材利用率
				</button>
			</h2>
		</div>
		<div id="materialTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#material">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>绿色建材利用率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>