<h5><center>健身<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="fitness">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#fitnessOne" aria-expanded="false" aria-controls="collapseOne">
					健身场地和空间面积比
				</button>
			</h2>
		</div>
		<div id="fitnessOne" class="collapse" aria-labelledby="headingOne" data-parent="#fitness">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>健身场地和空间面积比</td>
						<td><input type="text" class="form-control" id="" placeholder="检测值" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="检测员" value=""></td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>交通便利<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="traffic">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#trafficOne" aria-expanded="false" aria-controls="collapseOne">
					场地与公共交通站点距离及站点数
				</button>
			</h2>
		</div>
		<div id="trafficOne" class="collapse" aria-labelledby="headingOne" data-parent="#traffic">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>场地与公共交通站点距离及站点数报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#trafficTwo" aria-expanded="false" aria-controls="collapseTwo">
					开敞空间步行可达
				</button>
			</h2>
		</div>
		<div id="trafficTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#traffic">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>开敞空间步行可达报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#trafficThree" aria-expanded="false" aria-controls="collapseThree">
					机械式停车设施、地下停车库或地面停车楼等方式
				</button>
			</h2>
		</div>
		<div id="trafficThree" class="collapse" aria-labelledby="headingThree" data-parent="#traffic">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>停车方式报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#trafficFour" aria-expanded="false" aria-controls="collapseFour">
					电动汽车充电设施及停车位，无障碍汽车停车位
				</button>
			</h2>
		</div>
		<div id="trafficFour" class="collapse" aria-labelledby="headingFour" data-parent="#traffic">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>电动汽车及无障碍汽车停车位报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFive">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#trafficFive" aria-expanded="false" aria-controls="collapseFive">
					车位数与住户比
				</button>
			</h2>
		</div>
		<div id="trafficFive" class="collapse" aria-labelledby="headingFive" data-parent="#traffic">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>车位数与住户比</td>
						<td><input type="text" class="form-control" id="" placeholder="检测值" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="检测员" value=""></td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingSix">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#trafficSix" aria-expanded="false" aria-controls="collapseSix">
					自行车停车场位置及停车位数量
				</button>
			</h2>
		</div>
		<div id="trafficSix" class="collapse" aria-labelledby="headingSix" data-parent="#traffic">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>自行车停车场位置及停车位数量报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>适老及无障碍<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="old">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#oldOne" aria-expanded="false" aria-controls="collapseOne">
					室内外公共区域全龄化设计
				</button>
			</h2>
		</div>
		<div id="oldOne" class="collapse" aria-labelledby="headingOne" data-parent="#old">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>公共区域全龄化设计报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#oldTwo" aria-expanded="false" aria-controls="collapseTwo">
					建筑内适老设施种类及数量
				</button>
			</h2>
		</div>
		<div id="oldTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#old">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>适老设施种类及数量报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#oldThree" aria-expanded="false" aria-controls="collapseThree">
					无障碍步行系统
				</button>
			</h2>
		</div>
		<div id="oldThree" class="collapse" aria-labelledby="headingThree" data-parent="#old">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>无障碍步行系统报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#oldFour" aria-expanded="false" aria-controls="collapseFour">
					室内报警设施位置及数量
				</button>
			</h2>
		</div>
		<div id="oldFour" class="collapse" aria-labelledby="headingFour" data-parent="#old">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>室内报警设施位置及数量报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFive">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#oldFive" aria-expanded="false" aria-controls="collapseFive">
					可以容纳担架的电梯数量
				</button>
			</h2>
		</div>
		<div id="oldFive" class="collapse" aria-labelledby="headingFive" data-parent="#old">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>可以容纳担架的电梯数量报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>



<!--=================================================-->
<h5 style="margin-top: 2rem;"><center>社区文化营造<span style="float: right">(0/25)</span></center></h5>
<div class="accordion" id="community">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#communityOne" aria-expanded="false" aria-controls="collapseOne">
					绿色出行率
				</button>
			</h2>
		</div>
		<div id="communityOne" class="collapse" aria-labelledby="headingOne" data-parent="#community">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>绿色出行率报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#communityTwo" aria-expanded="false" aria-controls="collapseTwo">
					民族建筑文化因素
				</button>
			</h2>
		</div>
		<div id="communityTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#community">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>民族建筑文化因素报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#communityThree" aria-expanded="false" aria-controls="collapseThree">
					社区文化建设
				</button>
			</h2>
		</div>
		<div id="communityThree" class="collapse" aria-labelledby="headingThree" data-parent="#community">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>社区文化建设报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#communityFour" aria-expanded="false" aria-controls="collapseFour">
					绿色生活教育
				</button>
			</h2>
		</div>
		<div id="communityFour" class="collapse" aria-labelledby="headingFour" data-parent="#community">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>绿色生活教育报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFive">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#communityFive" aria-expanded="false" aria-controls="collapseFive">
					邻里居民文化活动组织
				</button>
			</h2>
		</div>
		<div id="communityFive" class="collapse" aria-labelledby="headingFive" data-parent="#community">
			<div class="card-body">
				<table class="table table-striped" width="100%">
					<tr>
						<td>邻里居民文化活动组织报告</td>
						<td><input type="file" class="form-control" id="" placeholder="" value=""></td>
						<td>
							<button class="btn btn-primary btn-sm">上传</button>
							<button class="btn btn-outline-primary btn-sm">下载</button>
							<button class="btn btn-outline-primary btn-sm">删除</button>
						</td>
						<td>
							<select class="custom-select d-block w-100" id="">
								<option value="">结论...</option>
								<option>通过</option>
								<option>不通过</option>
							</select>
						</td>
						<td><input type="text" class="form-control" id="" placeholder="评语（选填）" value=""></td>
						<td><input type="text" class="form-control" id="" placeholder="得分" value=""></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>